Welcome to pollsterl!

All commands follow the same structure:
`!poll <!command> [args...]`

You can use `!poll !help` or `!poll !info` to print the general help text.

To request help on a specific command or topic, enter one of the following:
- `!poll !help !start`: Starting polls
- `!poll !help !close`: Closing polls
- `!poll !help !expire`: Managing expiration dates of polls
