You can use the `!stop` command to stop an ongoing command.

The default usage of the stop command is:
`!poll !stop <poll id>`

You can also specify multiple poll IDs
`!poll !stop <poll id 1> <poll id 2> ...`

The word `last` can be used to quickly refer to the latest poll that was created on the current channel
`!poll !stop last`

...or omit any ID or keyword to refer to it
`!poll !stop`

To stop all ongoing polls in the *current channel*, use the keyword `here`
`!poll !stop here`

Or, to stop all polls globally, use the keyword `all`
`!poll !stop all`
