You can use the `!start` command to start a poll:
`!poll !start <subject>`

**Hint**: Each poll has a unique ID that can later be used to refer to it.

You can also omit the `!start` command to quickly start a poll:
`!poll anyone up for some gr?`
`!poll "Has anyone really been far even as decided to use even go want to do look more like?"`

By default, all polls start with the basic yes/no/undecided options, but you can also specify your own (up to 36):

`!poll "Which starter pokemon is your favorite?" Charmander Bulbasaur Squirtle`
`!poll "Which faction do you prefer?" NCR "Caesar's Legion" "Mr. House" "I go about my own way"`
