You can use the `!close` command to close an ongoing command.

The default usage of the close command is:
`!poll !close <poll id>`

You can also specify multiple poll IDs
`!poll !close <poll id 1> <poll id 2> ...`

The word `last` can be used to quickly refer to the latest poll that was created on the current channel
`!poll !close last`

...or omit any ID or keyword to refer to it
`!poll !close`

To close all ongoing polls in the *current channel*, use the keyword `here`
`!poll !close here`

Or, to close all polls globally, use the keyword `all`
`!poll !close all`
