Poll {{subject}} has ended. The winner is...

:tada: {{winner.key}} {{winner.label}} :tada: ({{winner.count}} votes)

The top contenders were were:
{{#runner_ups}}
- {{count}} {{key}} {{label}}
{{/runner_ups}}

For more stats about this poll, enter `!poll !stats {{poll_id}}`
