Poll {{subject}} has ended. The winner is...

:tada: {{winner_emoji}} {{winner_label}} :tada: ({{winner_count}} votes)

The top contenders were were:
{{#runner_ups}}
- {{count}} {{emoji}} {{label}}
{{/runner_ups}}

For more stats about this poll, enter `!poll !stats {{poll_id}}`
